<div class="banner">
  <div class="container">
    <h1 class="text-center"><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card ml-auto" style="margin-top: -30px">
      <div class="card-body">
        <h4 class="card-title">Ingredients</h4>
        <h6 class="card-content">
          <ul>
            <% @cocktail.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </h6>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">Preparation</div>
        <div class="card-content">
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li><%= dose.description %> of <%= dose.ingredient.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= link_to 'Back', cocktails_path %>
  </div>
</div>
